<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, width=device-width"/>

    <link rel="stylesheet" href="/bower_components/md-steppers/dist/md-steppers.css">
    <link rel="stylesheet" href="/bower_components/md-steppers/dist/demo/style.css">
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">


</head>
<body>

<!--markup-->

<div style="text-align: center;margin-top: 150px;margin-bottom: 500px">
    <md-card ng-init="selected = 0">
        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color: #f30">
                <h2 style="color: white">
                    <md-icon md-svg-icon="md-menu"></md-icon>
                    <span>Créer un service</span>
                </h2>
            </div>
        </md-toolbar>
        <md-steppers md-selected="selected" md-stretch-steppers="always">
            <md-step label="Service" md-complete="step1.completed" ng-disabled="step1.disabled">
                <md-content>
                    <!-- Select Basic -->
                    <md-input-container>
                        <label>Selectionner une catégorie</label>
                        <md-select multiple ng-model="service.category">
                            <md-option><em>None</em></md-option>
                            <md-option ng-repeat="item in categories" ng-value="item.id">
                                {{item.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>Selectionner un pays</label>
                        <md-select ng-change="changeCountry($index)" ng-model="service.country">
                            <md-option><em>None</em></md-option>
                            <md-option ng-repeat="item in countries track by $index" ng-value="$index">
                                {{item.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>Selectionner une région</label>
                        <md-select ng-model="service.city">
                            <md-option><em>None</em></md-option>
                            <md-option ng-repeat="item in cities" ng-value="item.id">
                                {{item.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>


                    <div layout-gt-xs="row">
                        <div flex-gt-xs>
                            <h4>Date de publication</h4>
                            <md-datepicker ng-model="service.publish_date"
                                           md-placeholder="Date de publication"></md-datepicker>
                        </div>

                        <div flex-gt-xs>
                            <h4>Date d'Expiration</h4>
                            <md-datepicker ng-model="service.expiration_date"
                                           md-placeholder="Date d\'Expiration"></md-datepicker>
                        </div>
                    </div>

                    <md-button class="md-raised md-primary" style="background-color:#f30;"
                               ng-click="step1()">SUIVANT
                    </md-button>
                </md-content>
            </md-step>
            <md-step label="Détails" md-complete="step2.completed" ng-disabled="step2.disabled">
                <md-content>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Titre</label>
                        <input ng-model="service.title">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Description</label>
                        <textarea ng-model="service.description" md-maxlength="150" rows="3"
                                  md-select-on-focus></textarea>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Latitude</label>
                        <input ng-model="service.latitude">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Longitude</label>
                        <input ng-model="service.longitude">
                    </md-input-container>

                    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true"
                                        options="map.options">
                        <ui-gmap-marker coords="marker.coords" options="marker.options"
                                        events="marker.events"
                                        idkey="marker.id">
                        </ui-gmap-marker>

                    </ui-gmap-google-map>


                    <md-button class="md-raised md-primary" style="background-color:#f30;"
                               ng-click="selected = 0;step2.completed=false">PRECEDENT
                    </md-button>
                    <md-button class="md-raised md-primary" style="background-color:#f30;"
                               ng-click="step2()">SUIVANT
                    </md-button>
                </md-content>
            </md-step>
            <md-step label="Photo" md-complete="step3.completed" ng-disabled="step3.disabled">
                <md-content>
                    <h1>
                        Content Step 3
                    </h1>
                    <input type="file" ngf-select ng-model="picFile" name="file"
                           accept="image/*" ngf-max-size="2MB" required
                           ngf-model-invalid="errorFile" ngf-multiple="true">
                    <i ng-show="myForm.file.$error.required">*required</i><br>
                    <i ng-show="myForm.file.$error.maxSize">File too large
                        {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                    <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
                    <md-button class="md-raised md-primary" style="background-color:#f30;"
                               ng-click="selected = 1;step3.completed=false">PRECEDENT
                    </md-button>
                    <md-button class="md-raised md-primary" style="background-color:#f30;"
                               ng-click="step3()">SUIVANT
                    </md-button>
                </md-content>
            </md-step>
            <md-step label="Payement" md-complete="step4.completed" ng-disabled="step4.disabled">
                <md-content style="padding: 50px;">

                    <md-radio-group ng-model="service.price_type" class="md-primary">

                        <md-radio-button value="espece">Espéce</md-radio-button>
                        <md-radio-button value="Cheque"> Cheque</md-radio-button>
                        <md-radio-button value="Carte">Carte Crédit</md-radio-button>

                    </md-radio-group>

                    <md-input-container class="md-icon-float md-icon-right md-block">
                        <label>Prix</label>
                        <input ng-model="service.price" type="number" step="0.01">
                        <md-icon md-svg-src="img/icons/ic_euro_24px.svg"></md-icon>
                    </md-input-container>

                    <md-button class="md-raised md-primary" style="background-color:#f30;"
                               ng-click="selected = 2;step4.completed=false">PRECEDENT
                    </md-button>
                    <md-button class="md-raised md-primary" style="background-color:#f30;"
                               ng-click="step4(picFile)">SUIVANT
                    </md-button>
                </md-content>
            </md-step>
            <md-step label="Finish" md-complete="step5.completed" ng-disabled="step5.disabled">
                <md-content>
                    <h1>
                        Terminer
                    </h1>
                    <md-button class="md-raised md-primary" style="background-color:#f30;"
                               ng-click="submit()">TERMINER
                    </md-button>
                </md-content>
            </md-step>
        </md-steppers>
    </md-card>
</div>

</body>
