<div class="row">
    <div class="col-md-8 widget m-t-20">
        <!-- /widget heading -->
        <div class="widget-heading">
            <h3 class="widget-title text-dark">
                Choisir catégorie(s)
            </h3>
            <div class="widget-widgets"><a href="#">Plus <span class="ti-angle-right"></span></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="widget-body">
            <div class="row">
                <!-- /thumb -->
                <div class="col-md-2 thumb">
                    <div class="thumb-inside">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="http://placehold.it/240x240" alt="">
                        </a> <span class="favorite"><a href="#" data-toggle="tooltip" data-placement="left"
                                                       title="" data-original-title="Save store"><i
                            class="ti-heart"></i></a></span>
                    </div>
                    <div class="store_name text-center">
                        <h5>Storenameer</h5>
                    </div>
                </div>
                <!-- /thumb -->
                <div class="col-md-2 thumb">
                    <div class="thumb-inside">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="http://placehold.it/240x240" alt="">
                        </a> <span class="favorite"><a href="#" data-toggle="tooltip" data-placement="left"
                                                       title="" data-original-title="Save store"><i
                            class="ti-heart"></i></a></span>
                    </div>
                    <div class="store_name text-center">
                        <h5>Buybig</h5>
                    </div>
                </div>
                <!-- /thumb -->
                <div class="col-md-2 thumb">
                    <div class="thumb-inside">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="http://placehold.it/240x240" alt="">
                        </a> <span class="favorite"><a href="#" data-toggle="tooltip" data-placement="left"
                                                       title="" data-original-title="Save store"><i
                            class="ti-heart"></i></a></span>
                    </div>
                    <div class="store_name text-center">
                        <h5>Shopping</h5>
                    </div>
                </div>

                <div class="col-md-2 thumb">
                    <div class="thumb-inside">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="http://placehold.it/240x240" alt="">
                        </a> <span class="favorite"><a href="#" data-toggle="tooltip" data-placement="left"
                                                       title="" data-original-title="Save store"><i
                            class="ti-heart"></i></a></span>
                    </div>
                    <div class="store_name text-center">
                        <h5>Shopping</h5>
                    </div>
                </div>
                <div class="col-md-2 thumb">
                    <div class="thumb-inside">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="http://placehold.it/240x240" alt="">
                        </a> <span class="favorite"><a href="#" data-toggle="tooltip" data-placement="left"
                                                       title="" data-original-title="Save store"><i
                            class="ti-heart"></i></a></span>
                    </div>
                    <div class="store_name text-center">
                        <h5>Shopping</h5>
                    </div>
                </div>
                <div class="col-md-2 thumb">
                    <div class="thumb-inside">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="http://placehold.it/240x240" alt="">
                        </a> <span class="favorite"><a href="#" data-toggle="tooltip" data-placement="left"
                                                       title="" data-original-title="Save store"><i
                            class="ti-heart"></i></a></span>
                    </div>
                    <div class="store_name text-center">
                        <h5>Shopping</h5>
                    </div>
                </div>
                <!-- /thumb -->


                <!-- /thumb -->
            </div>
        </div>
    </div>
    <div class="col-md-4 widget" style="margin-top: 20px">
        <!-- /widget heading -->
        <div class="widget-heading">
            <h3 class="widget-title text-dark">
                Submit
            </h3>
            <div class="clearfix"></div>
        </div>
        <div class="widget-body">
            <form class="form-horizontal select-search">
                <label class="control-label ">Total prix : {{price}}</label>
                <div class="form-group ">
                    <button id="search_btn" ng-click="publier()" name="search_btn"
                            class="btn btn-danger">Finalisez
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div ng-repeat="item in services" class="col-sm-4">
        <div ng-class="{'select-item' : item.selected}" class="widget"
             ng-click="item.selected==true ? diselectItem($index) : selectItem($index)">
            <div class="coupon-block equal">
                <a class="coupon-store" href
                   title="">
                    <img src="assets/images/img_2439.jpg" alt="">
                </a>
                <div class="coupon-value" content="{{item.name}}"></div>
                <h4 class="coupon-title"><a href="#">{{item.description}}</a></h4>
                <div class="action-block">
                    <p class="btn-code" data-type="code" data-link="#"><span class="partial-code">BTSBAGS</span>
                        <span class="btn-hover">Prendre service</span></p>
                </div>
                <div class="row">
                    <div class="col-sm-12"> <span class="expiry_date">{{item.price}}
                                       <span class="expiry_days"></span>  <span
                                class="expiry_hours"></span>  </span>
                    </div>
                </div>
            </div>
            <!--//coupon block -->
        </div>
    </div>

</div>


