<!-- Navigation Bar-->

<!-- Navigation ends -->
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- Main component for a primary marketing message or call to action -->
                <div class="">
                    <div class="" style="margin-top:20px ;width: 1000px">

                        <div class="item"><img style="width: 134%" src="http://placehold.it/1500x500" alt=""></div>
                    </div>
                    <!-- /.carosuel -->
                    <div class="carousel-tabs clearfix">
                        <a class="col-sm-4 tab url" href="#one">
                            <div class="media">
                                <div class="media-left media-middle"><img src="http://placehold.it/120x50" alt="">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Upto 30% Rewards</h4>
                                    <p>Up to 70% off on Clothing ...</p>
                                </div>
                            </div>
                        </a>
                        <a class="col-sm-4 tab url" href="#two">
                            <div class="media">
                                <div class="media-left media-middle"><img src="http://placehold.it/120x50" alt="">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Upto 70% Rewards</h4>
                                    <p>Up to 70% off on Clothing ...</p>
                                </div>
                            </div>
                        </a>
                        <a class="col-sm-4 tab url" href="#three">
                            <div class="media">
                                <div class="media-left media-middle"><img src="http://placehold.it/120x50" alt="">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Upto 50% Rewards</h4>
                                    <p>Up to 70% off on Clothing ...</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--/slide wrap -->
            </div>
            <!-- /col 12 -->
        </div>

        <section style="margin-bottom: 40px" class="call-to-action">
            <div class="container">
                <div class="row explain_group">
                    <div class="col-md-4">
                        <a class="item" rel="nofollow" href="#">
                            <div class="box-icon"><i class="bg-danger ti-search"></i></div>
                            <div class="box-info">
                                <h3>Search coupons</h3>
                                <h4>Find best money-saving coupons.</h4>
                                <div class="point"><i class="ti-check"></i><span>Find fresh coupons</span></div>
                                <div class="point"><i class="ti-check"></i><span>Top Coupons & Offers</span></div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="item" rel="nofollow" href="#">
                            <div class="box-icon"><i class="bg-info ti-shopping-cart-full"></i></div>
                            <div class="box-info">
                                <h3>Save your money</h3>
                                <h4>Find best money-saving coupons.</h4>
                                <div class="point"><i class="ti-check"></i><span>Find fresh coupons</span></div>
                                <div class="point"><i class="ti-check"></i><span>Top Coupons & Offers</span></div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="item" rel="nofollow" href="#">
                            <div class="box-icon"><i class="bg-purple ti-gift"></i></div>
                            <div class="box-info">
                                <h3>Earn your gifts</h3>
                                <h4>Find best money-saving coupons.</h4>
                                <div class="point"><i class="ti-check"></i><span>Find fresh coupons</span></div>
                                <div class="point"><i class="ti-check"></i><span>Top Coupons & Offers</span></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <div class="row">
            <div class="col-lg-8">
                <ul class="nav nav-tabs responsive-tabs" id="myTab">
                    <li class="active"><a data-toggle="tab" href="#popular"><i class="ti-bar-chart"></i>Populaire </a>
                    </li>
                    <li class=""><a data-toggle="tab" href="#ending"><i class="ti-timer"></i> Récent</a></li>
                    <li class=""><a data-toggle="tab" href="#online"><i class="ti-link"></i>A proximité</a></li>
                    <li class=""><a data-toggle="tab" href="#atStore"><i class="ti-receipt"></i>Recommendation</a></li>
                </ul>
                <div class="tab-content clearfix" id="myTabContent">
                    <div id="popular" class="tab-pane counties-pane active animated fadeIn">
                        <div class="coupon-wrapper row">
                            <div class="coupon-data col-sm-2 text-center">
                                <img src="assets/images/bfr_overlay.jpg" class="image_service savings text-center">
                                </img>
                                <!-- end:Savings -->
                            </div>
                            <!-- end:Coupon data -->
                            <div class="coupon-contain col-sm-7">
                                <ul class="list-inline list-unstyled">
                                    <li class="sale label label-pink">Sale</li>
                                    <li class="popular label label-success">100% success</li>
                                    <li><span class="verified  text-success"><i
                                            class="ti-face-smile"></i>12/12</span></li>
                                    <li><span class="used-count">78 used</span></li>
                                </ul>
                                <h4 class="coupon-title"><a href="#">Extra 10% Off Select Luggage + Up To $150 Back
                                    In Points For Members + Free Shipping</a></h4>
                                <p data-toggle="collapse" data-target="#1">Shop these Shopname deals of the day to
                                    save as much...</p>
                                <p id="1" class="collapse">Don't miss out on all the coupon savings.Get you coupon
                                    now and save big</p>
                                <!-- end:Coupon details -->
                            </div>
                            <!-- end:Coupon cont -->
                            <div class="button-contain col-sm-3 text-center">
                                <p class="btn-code" data-toggle="modal" data-target=".couponModal"><span
                                        class="partial-code">BTSBAGS</span> <span
                                        class="btn-hover">Prendre le service</span>
                                </p>
                            </div>
                        </div>
                        <div class="coupon-wrapper row">
                            <div class="coupon-data col-sm-2 text-center">
                                <img src="assets/images/bfr_overlay.jpg" class="image_service savings text-center">
                                </img>
                                <!-- end:Savings -->
                            </div>
                            <!-- end:Coupon data -->
                            <div class="coupon-contain col-sm-7">
                                <ul class="list-inline list-unstyled">
                                    <li class="sale label label-pink">Sale</li>
                                    <li class="popular label label-success">100% success</li>
                                    <li><span class="verified  text-success"><i
                                            class="ti-face-smile"></i>12/12</span></li>
                                    <li><span class="used-count">78 used</span></li>
                                </ul>
                                <h4 class="coupon-title"><a href="#">Extra 10% Off Select Luggage + Up To $150 Back
                                    In Points For Members + Free Shipping</a></h4>
                                <p data-toggle="collapse" data-target="#1">Shop these Shopname deals of the day to
                                    save as much...</p>
                                <p id="1" class="collapse">Don't miss out on all the coupon savings.Get you coupon
                                    now and save big</p>
                                <!-- end:Coupon details -->
                            </div>
                            <!-- end:Coupon cont -->
                            <div class="button-contain col-sm-3 text-center">
                                <p class="btn-code" data-toggle="modal" data-target=".couponModal"><span
                                        class="partial-code">BTSBAGS</span> <span
                                        class="btn-hover">Prendre le service</span>
                                </p>
                            </div>
                        </div>
                        <div class="coupon-wrapper row">
                            <div class="coupon-data col-sm-2 text-center">
                                <img src="assets/images/bfr_overlay.jpg" class="image_service savings text-center">
                                </img>
                                <!-- end:Savings -->
                            </div>
                            <!-- end:Coupon data -->
                            <div class="coupon-contain col-sm-7">
                                <ul class="list-inline list-unstyled">
                                    <li class="sale label label-pink">Sale</li>
                                    <li class="popular label label-success">100% success</li>
                                    <li><span class="verified  text-success"><i
                                            class="ti-face-smile"></i>12/12</span></li>
                                    <li><span class="used-count">78 used</span></li>
                                </ul>
                                <h4 class="coupon-title"><a href="#">Extra 10% Off Select Luggage + Up To $150 Back
                                    In Points For Members + Free Shipping</a></h4>
                                <p data-toggle="collapse" data-target="#1">Shop these Shopname deals of the day to
                                    save as much...</p>
                                <p id="1" class="collapse">Don't miss out on all the coupon savings.Get you coupon
                                    now and save big</p>
                                <!-- end:Coupon details -->
                            </div>
                            <!-- end:Coupon cont -->
                            <div class="button-contain col-sm-3 text-center">
                                <p class="btn-code" data-toggle="modal" data-target=".couponModal"><span
                                        class="partial-code">BTSBAGS</span> <span
                                        class="btn-hover">Prendre le service</span>
                                </p>
                            </div>
                        </div>
                        <div class="coupon-wrapper row">
                            <div class="coupon-data col-sm-2 text-center">
                                <img src="assets/images/bfr_overlay.jpg" class="image_service savings text-center">
                                </img>
                                <!-- end:Savings -->
                            </div>
                            <!-- end:Coupon data -->
                            <div class="coupon-contain col-sm-7">
                                <ul class="list-inline list-unstyled">
                                    <li class="sale label label-pink">Sale</li>
                                    <li class="popular label label-success">100% success</li>
                                    <li><span class="verified  text-success"><i
                                            class="ti-face-smile"></i>12/12</span></li>
                                    <li><span class="used-count">78 used</span></li>
                                </ul>
                                <h4 class="coupon-title"><a href="#">Extra 10% Off Select Luggage + Up To $150 Back
                                    In Points For Members + Free Shipping</a></h4>
                                <p data-toggle="collapse" data-target="#1">Shop these Shopname deals of the day to
                                    save as much...</p>
                                <p id="1" class="collapse">Don't miss out on all the coupon savings.Get you coupon
                                    now and save big</p>
                                <!-- end:Coupon details -->
                            </div>
                            <!-- end:Coupon cont -->
                            <div class="button-contain col-sm-3 text-center">
                                <p class="btn-code" data-toggle="modal" data-target=".couponModal"><span
                                        class="partial-code">BTSBAGS</span> <span
                                        class="btn-hover">Prendre le service</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="ending" class="tab-pane counties-pane animated fadeIn">
                        <div class="coupon-wrapper row">
                            <div class="coupon-data col-sm-2 text-center">
                                <div class="savings text-center">
                                    <div>
                                        <div class="large">72%</div>
                                        <div class="small">off</div>
                                        <div class="type">Deal</div>
                                    </div>
                                </div>
                                <!-- end:Savings -->
                            </div>
                            <!-- end:Coupon data -->
                            <div class="coupon-contain col-sm-7">
                                <ul class="list-inline list-unstyled">
                                    <li class="sale label label-pink">Sale</li>
                                    <li class="popular label label-success">100% success</li>
                                    <li><span class="verified  text-success"><i
                                            class="ti-face-smile"></i>12/12</span></li>
                                    <li><span class="used-count">78 used</span></li>
                                </ul>
                                <h4 class="coupon-title"><a href="#">Extra 10% Off Select Luggage + Up To $150 Back
                                    In Points For Members + Free Shipping</a></h4>
                                <p data-toggle="collapse" data-target="#1">Shop these Shopname deals of the day to
                                    save as much...</p>
                                <p id="1" class="collapse">Don't miss out on all the coupon savings.Get you coupon
                                    now and save big</p>
                                <!-- end:Coupon details -->
                            </div>
                            <!-- end:Coupon cont -->
                            <div class="button-contain col-sm-3 text-center">
                                <p class="btn-code" data-toggle="modal" data-target=".couponModal"><span
                                        class="partial-code">BTSBAGS</span> <span class="btn-hover">Get Code</span>
                                </p>
                            </div>
                        </div>
                        <!-- end: coupon wrap -->
                    </div>
                    <div id="online" class="tab-pane counties-pane animated fadeIn">
                        <div class="coupon-wrapper row">
                            <div class="coupon-data col-sm-2 text-center">
                                <div class="savings text-center">
                                    <div>
                                        <div class="large">72%</div>
                                        <div class="small">off</div>
                                        <div class="type">Deal</div>
                                    </div>
                                </div>
                                <!-- end:Savings -->
                            </div>
                            <!-- end:Coupon data -->
                            <div class="coupon-contain col-sm-7">
                                <ul class="list-inline list-unstyled">
                                    <li class="sale label label-pink">Sale</li>
                                    <li class="popular label label-success">100% success</li>
                                    <li><span class="verified  text-success"><i
                                            class="ti-face-smile"></i>12/12</span></li>
                                    <li><span class="used-count">78 used</span></li>
                                </ul>
                                <h4 class="coupon-title"><a href="#">Extra 10% Off Select Luggage + Up To $150 Back
                                    In Points For Members + Free Shipping</a></h4>
                                <p data-toggle="collapse" data-target="#1">Shop these Shopname deals of the day to
                                    save as much...</p>
                                <p id="1" class="collapse">Don't miss out on all the coupon savings.Get you coupon
                                    now and save big</p>
                                <!-- end:Coupon details -->
                            </div>
                            <!-- end:Coupon cont -->
                            <div class="button-contain col-sm-3 text-center">
                                <p class="btn-code" data-toggle="modal" data-target=".couponModal"><span
                                        class="partial-code">BTSBAGS</span> <span class="btn-hover">Get Code</span>
                                </p>
                            </div>
                        </div>
                        <!-- end: coupon wrap -->
                    </div>
                    <div id="atStore" class="tab-pane counties-pane animated fadeIn">
                        <div class="coupon-wrapper row">
                            <div class="coupon-data col-sm-2 text-center">
                                <div class="savings text-center">
                                    <div>
                                        <div class="large">72%</div>
                                        <div class="small">off</div>
                                        <div class="type">Deal</div>
                                    </div>
                                </div>
                                <!-- end:Savings -->
                            </div>
                            <!-- end:Coupon data -->
                            <div class="coupon-contain col-sm-7">
                                <ul class="list-inline list-unstyled">
                                    <li class="sale label label-pink">Sale</li>
                                    <li class="popular label label-success">100% success</li>
                                    <li><span class="verified  text-success"><i
                                            class="ti-face-smile"></i>12/12</span></li>
                                    <li><span class="used-count">78 used</span></li>
                                </ul>
                                <h4 class="coupon-title"><a href="#">Extra 10% Off Select Luggage + Up To $150 Back
                                    In Points For Members + Free Shipping</a></h4>
                                <p data-toggle="collapse" data-target="#1">Shop these Shopname deals of the day to
                                    save as much...</p>
                                <p id="1" class="collapse">Don't miss out on all the coupon savings.Get you coupon
                                    now and save big</p>
                                <!-- end:Coupon details -->
                            </div>
                            <!-- end:Coupon cont -->
                            <div class="button-contain col-sm-3 text-center">
                                <p class="btn-code" data-toggle="modal" data-target=".couponModal"><span
                                        class="partial-code">BTSBAGS</span> <span class="btn-hover">Get Code</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end: Tab content -->
                <div class="clearfix"></div>
                <!-- end: Tab content -->
            </div>
            <div class="col-lg-4">
                <div class="widget categories b-b-0">
                    <!-- /widget heading -->
                    <div class="widget-heading">
                        <h3 class="widget-title text-dark">
                            Populaire
                        </h3>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-body">
                        <!-- Sidebar navigation -->
                        <ul class="nav sidebar-nav">
                            <li class="dropdown">
                                <a class="ripple-effect dropdown-toggle" href="#" data-toggle="dropdown"> <i
                                        class="ti-shine">
                                </i> Travel <span class="sidebar-badge">
                                 12
                                 </span> <b class="caret">
                                </b> </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" tabindex="-1">
                                        Europe
                                       <span class="sidebar-badge">
                                       12
                                       </span>
                                    </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"> <i class="ti-gift">
                                </i> Gifts <span class="sidebar-badge">
                                 3
                                 </span> </a>
                            </li>
                            <li>
                                <a href="#"> <i class="ti-bag">
                                </i> Vacations <span class="sidebar-badge">
                                 3
                                 </span> </a>
                            </li>
                            <li>
                                <a href="#"> <i class="ti-ticket">
                                </i> Tickets <span class="sidebar-badge badge-circle">
                                 12
                                 </span> </a>
                            </li>
                            <li>
                                <a href="#"> <i class="ti-pulse">
                                </i> Health <span class="sidebar-badge badge-circle">
                                 45
                                 </span> </a>
                            </li>
                            <li>
                                <a href="#"> <i class="ti-direction-alt">
                                </i> Things To Do <span class="sidebar-badge badge-circle">
                                 117
                                 </span> </a>
                            </li>
                            <li>
                                <a href="#"> <i class="ti-harddrives">
                                </i> Electronics <span class="sidebar-badge badge-circle">
                                 117
                                 </span> </a>
                            </li>
                        </ul>
                        <!-- Sidebar divider -->
                    </div>
                </div>
                <div class="widget">
                    <!-- /widget heading -->
                    <div class="widget-heading">
                        <h3 class="widget-title text-dark">
                            Trouver votre service
                        </h3>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-body">
                        <form class="form-horizontal select-search">
                            <label class="control-label ">Quel type de service?</label>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default"> <i class="ti-truck"></i>
                                    <input type="checkbox" checked>Transport</label>
                                <label class="btn btn-default"> <i class="ti-home"></i>
                                    <input type="checkbox">Local</label>
                                <label class="btn btn-default active"> <i class="ti-hummer"></i>
                                    <input type="checkbox">Matériel</label>
                            </div>
                            <fieldset>
                                <div class="form-group">
                                    <label class="control-label ">Mot clé</label>
                                    <input class="form-control" id="text" name="text" type="text"/>
                                </div>
                                <div class="row">
                                    <!-- Select Basic -->
                                    <div class="form-group col-sm-6 col-xs-12">
                                        <label class="control-label " for="category">Durée de validité</label>
                                        <select class="select form-control" id="category" name="category">
                                            <option value="Electronics">1 jour</option>
                                            <option value="Fashion">7 jours</option>
                                            <option value="Kids">30 jours</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-6 col-xs-12">
                                        <label class="control-label " for="store">Choisir région</label>
                                        <select class="select form-control" id="store" name="store">
                                            <option value="Shopname">Tunis</option>
                                            <option value="Ebay">Sfax</option>
                                            <option value="Ebay">Sousse</option>
                                            <option value="Ebay">Sousse</option>
                                            <option value="Ebay">Bizert</option>
                                            <option value="Ebay">Ariana</option>
                                            <option value="Bangdoo">Hammemet</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- //row -->
                                <!-- Button -->
                                <div class="form-group ">
                                    <button id="search_btn" ng-click="goSearch()" name="search_btn"
                                            class="btn btn-danger">Trouver
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>

            </div>
            <!-- end col -->
        </div>
        <!-- End row -->
    </div>
    <!-- end:Newsletter signup -->
    <!-- start modal -->
    <!-- Large modal -->
    <div class="coupon_modal modal fade couponModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true"><i class="ti-close"></i></span></button>
                <div class="coupon_modal_content">

                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 text-center">
                            <h2>Save 30% off New Domains Names</h2>
                            <p>Not applicable to ICANN fees, taxes, transfers,or gift cards. Cannot be used in
                                conjunction with any other offer, sale, discount or promotion. After the initial
                                purchase term.</p>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <h5 class="text-center text-uppercase m-t-20 text-muted">Click below to get your
                                    coupon code</h5>
                            </div>

                            <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3"><a href="#"
                                                                                              target="_blank"
                                                                                              class="coupon_code alert alert-info"><span
                                    class="coupon_icon"><i class="ti-cut hidden-xs"></i></span> DAZ50-8715
                            </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="report">Did this coupon work? <span class="yes vote-link"
                                                                                data-src="#">Yes</span>
                                    <span class="no vote-link" data-src="#">No</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end: Coupon modal content -->
            </div>


            <div class="newsletter-modal">
                <div class="newsletter-form">
                    <h4><i class="ti-email"></i>Sign up for our weekly email newsletter with the best money-saving
                        coupons.</h4>
                    <div class="input-group">
                        <input class="form-control input-lg" placeholder="Email" type="text"> <span
                            class="input-group-btn">
                           <button class="btn btn-danger btn-lg" type="button">
                           Subscribe
                           </button>
                           </span>
                    </div>
                    <p>
                        <small>We’ll never share your email address with a third-party.</small>
                    </p>
                </div>
            </div>
            <ul class="nav nav-pills nav-justified">
                <li role="presentation" class="active"><a href="#" data-toggle="tooltip" data-placement="top"
                                                          title="" data-original-title="It worked"><i
                        class="ti-check color-green"></i></a></li>
                <li role="presentation"><a href="#" data-toggle="tooltip" data-placement="top" title=""
                                           data-original-title="I love it"><i
                        class="ti-heart color-primary"></i></a></li>
                <li role="presentation"><a href="#" data-toggle="tooltip" data-placement="top" title=""
                                           data-original-title="It didn't work"><i class="ti-close"></i></a></li>
            </ul>


        </div>
    </div>
    <!-- end: Modall -->
</div>
