<header class="header">
  <div class="top-nav  navbar m-b-0 b-0">
    <div class="container">
      <div class="row">
        <!-- LOGO -->
        <div class="topbar-left col-sm-3 col-xs-4">
          <a href="#/home" style="width: 115px" class="logo"> <img src="assets/images/logo.png" alt=""
                                                                   class="img-responsive"> </a>
        </div>
        <!-- End Logo container-->
        <div class="menu-extras col-sm-9 col-xs-8">
          <ul class="nav navbar-nav navbar-right pull-right">
            <li>
              <form role="search" ng-submit="goSearch(keywords)" class="app-search pull-left hidden-xs">
                <div class="input-group">
                  <input ng-model="keywords" class="form-control" placeholder="Trouver un service ..."
                         aria-label="Text input with multiple buttons">
                </div>
                <a href=""><i class="ti-search"></i></a>
              </form>
            </li>
            <li class="dropdown user-box">
              <a href="" class="dropdown-toggle profile btn btn-default" data-toggle="dropdown"
                 aria-expanded="true">
                Mon compte
              </a>
              <ul class="dropdown-menu" style="margin-top:16px">
                <li><a href="#/registration/signin"> LogIn</a></li>
                <li><a href="#/registration/signup">Registration</a></li>
              </ul>
            </li>
          </ul>
          <div class="menu-item">
            <!-- Mobile menu toggle-->
            <a class="navbar-toggle">
              <div class="lines"><span></span> <span></span> <span></span></div>
            </a>
            <!-- End mobile menu toggle-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-custom shadow">
    <div class="container">
      <div id="navigation">
        <!-- Navigation Menu-->
        <ul class="navigation-menu">
          <li class="active"><a href="#/home"><i class="ti-home"></i> <span> Home </span> </a></li>
          <li class="has-submenu">
            <a href="#/combine-service/register"><i class="ti-layout-grid4"></i> <span> Créer besoin </span>
            </a>
          </li>
          <li class="has-submenu">
            <a href="#/my-services"><i class="ti-announcement"></i> <span> Mes services </span> </a>
          </li>
          <li class="has-submenu">
            <a href="#/create-service"><i class="ti-layout-list-thumb"></i>
              <span> Postuler un service </span> </a>
          </li>
        </ul>
        <!-- End navigation menu  -->
      </div>
    </div>
  </div>
</header>
